---
title: WARFACE – Product Designer
layout: hold
---

<style>
  html, body, footer, .sheet {
    background: #ffc436;
  }
  h2 {
    font-family: 'Druk';
    font-size: 156px;
    line-height: 120px;
    letter-spacing: inherit;
    text-align: left !important;
    color: black !important;
  }
  .hero {
    padding: 64px 0px;
    margin: auto;
  }
  .hero h2 {
    text-align: center;
  }
  .sheet {
    padding: 0px;
  }
</style>

<div class="sticky hero">
  <a class="navbar-brand" href="#"></a>
  <div class="row">
    <div class="col">
      <!-- Rob Cleaton -->
      <h2>Design systems</h2>
      <!-- Warface
      <h2><span class="blue">Rob Cleaton. <br>Product designer based in London. </span>Over <a class="red" href="/about"> 15 years experience</a> designing and leading design teams.</h2>
       -->
    </div>
  </div>
</div>

<div class="sheet">
  <div class="container-fluid">
    <div class="row color-block cookpad">
      <div class="col-8 col-sm-4">
        <div class="center-align">
          <h2><a href="#">Sainsbury's</a></h2>
          <h4>Recipe sharing platform for the home cooking community</h4>
          <p class="lead">Leading the design journey from end to end</p>
          <p class="tags">Product stratgy, Product design, Design system, UI, UX, User testing</p>
          <a href="cookpad-mobile-apps">View Case study</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block cookpad">
      <div class="col-8 col-sm-4">
        <div class="center-align">
          <h2><a href="cookpad-mobile-apps">Cookpad</a></h2>
          <h4>Recipe sharing platform for the home cooking community</h4>
          <p class="lead">Leading the design journey from end to end</p>
          <p class="tags">Product stratgy, Product design, Design system, UI, UX, User testing</p>
          <a href="cookpad-mobile-apps">View Case study</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block trainline">
      <div class="col-8 col-sm-4">
        <div class="center-align">
          <h2><a href="trainline-mobile-apps-ux-case-study">Trainline mobile apps</a></h2>
          <h4>The customer champion of train travel</h4>
          <p class="lead">Revolutionise their app products with human centered design and grow into a 4.9 star app.</p>
          <p class="tags">Product design, UI, UX, Design system, User testing</p>
          <a href="trainline-mobile-apps-ux-case-study">View Case study</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block oatbook">
      <div class="col-8 col-sm-4"">
        <div class="center-align">
          <h2 style="color: #304a5d;"><a href="oatbook-medical-app">OATBook</a></h2>
          <h4>Medical tracker app for patients taking warfarin</h4>
          <p class="lead">Personal project from my experience of after having heart surgery and now having to regularly take blood tests and medicate with warfarin.</p>
          <p class="tags">Personal project, Product design, UI, UX.</p>
          <a href="oatbook-medical-app">View Case study</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block justeat">
      <div class="col-8 col-sm-4">
        <div class="center-align">
          <h2><!-- <a href="just-eat-restaurant-tools">-->Just Eat</h2>
          <h4>Restaurant partners – Top placement tool</h4>
          <p class="lead">Mobile products for their restaurants partners to bid on the search placement.</p>
          <p class="tags">Product design, UI, UX, Design system, User centric</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block sciencemuseum">
      <div class="col-8 col-sm-4"">
        <div class="center-align">
          <h2><a href="science-museum-lighting-control-app">Science Museum</a></h2>
          <h4>Connected lighting app for their event space.</h4>
          <p class="lead">Working with lighting designers, a mobile app to dynamicaly control the lighting.</p>
          <p class="tags">Connected product, Product design, UI, UX.</p>
          <a href="science-museum-lighting-control-app">View Case study</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block recliningworm">
      <div class="col-8 col-sm-4">
        <div class="center-align">
          <h2 style="color: pink;"><a href="reclining-worm">Reclining Worm</a></h2>
          <h4>90s nostalgia. Etsy shop of stickers and pins.</h4>
          <p class="tags">Personal project, Illustration</p>
          <a href="reclining-worm">View Case study</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block lloyds-bank">
      <div class="col-8 col-sm-4">
        <div class="center-align">
          <h2><a href="lloyds-open-banking-mobile-apps-ux">Lloyds Open Banking</a></h2>
          <h4>All your accounts in one place.</h4>
          <p class="tags">Product design, user research</p>
          <a href="lloyds-open-banking-mobile-apps-ux">View Case study</a>
        </div>
      </div>
    </div>
  </div>

  {% include clients.html %}

  {% include footer.html %}
</div>
