---
title: About
layout: hold
---
<style>
html, body, footer, .sheets {
  background: #ffc436;
}
.navbar-brand {
  position: fixed;
  z-index: 200;
  left: 50%;
  top: 24px;
  transform: translate(-50%, 0);
}

ul {
  margin-top: 40px;
  text-align: left;
}
 li {
   margin-bottom: 20px;
 }
.hero {
  padding: 64px 0px 0px 0px;
}
.container-fluid {
  max-width: 1140px;
}
.hero h2 {
  color: white;
  padding-top: 0px !important;
}
h2 {
  color: white;
}
h2, h3, h4 {
  text-align: left;
}
h3 {
  color: white;
  font-size: 2.8rem;
  line-height: 2.5rem;
  word-spacing: -0.2rem;
}
h4 {
  color: #3a55bf;
}
p.lead {
  text-align: left;
  margin-bottom: 60px;
}
a {
  color: #ff4141;
}

</style>

<div class="container-fluid hero">
  <a class="navbar-brand" href="/"></a>

  <div class="row">
    <div class="col-md-12">
      <h4>I'm Rob Cleaton</h4>
      <h2><span class="blue">Designing and leading teams to deliver award winning experiences</span> built on solid design principles and user centered design.</h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <p class="lead">Over the past 15 years I’ve had the opportunity to design and lead with companies like <a href="trainline-mobile-apps-ux-case-study">Trainline</a>, <a href="just-eat-restaurant-tools">Just-Eat</a>, <a href="cookpad-mobile-apps">Cookpad</a>, <a href="lloyds-open-banking-mobile-apps-ux">Lloyds Bank</a>, UK Gov and more as well as developing <a href="oatbook-medical-app">my own award winning products</a>.</p>

      <h4>My approach</h4>
      <h3>Understanding the problem</h3>
      <p class="lead">Strive to understand the what, why and how of the problem and be an advocate of this focus along the way. I work closely with PMs, UX researchers, data scientists to gather insights and data analysis to clearly define the problem.</p>

      <h3>Design discovery, short term and long term vision</h3>
      <p class="lead">This is my favourite part of the project. Creatively explore the user problem and generate new pragmatic ideas. Defining a long term vision with user and business goals and a vision of smaller incremental steps. Understanding the project unknowns and possible test ideas to the tradeoffs of technical constraints and business risks to deliver incremental steps with well defined user journeys and UI documentation to help teams head in this direction.</p>

      <h3>Understanding the user</h3>
      <p class="lead">Working closely with UX researchers or conducting my own research to generate insights and analysis. Understanding the user, the environment the user is in and the context are all crucial to define the right solution. Use prototypes to test new ideas or validate existing solutions, this is then shared to the wider team.<p>

      <h3>Collaborative working, end-to-end</h3>
      <p class="lead">The most effective projects I’ve worked on have involved working really closely with strong PMs, researchers, copywriters, data scientists, engineers and QA from the start. Creates an environment of openness, transparency and a harmonious project that we can all contribute to and have equal pride in the results.</p>

      <h3>Advocate for raising the bar for design</h3>
      <p class="lead">Passionate about sharing the knowledge of design principles and a simplicity for design to change behaviour. Systematic solutions are well-reasoned, intuitive and accessible.</p>

      <p><a href="https://www.linkedin.com/in/robcleaton-mobile-product-designer" target="_blank"><i class="fa fa-linkedin"></i>  <span class="d-md-inline">LinkedIn</span></a>
    </div>
    <div class="col-md-4">
    </div>
  </div>


  <div class="row content-block">
    <div class="col-md-8">
      <h2>Awards & mentions</h2>
      <ul class="list-unstyled">
        <li><a href="https://shop.museumca.org/collections/respect/products/hip-hop-enamel-pins" target="_blank">Oakland Museum of California exhibition RESPECT: Hip Hop Style and Wisdom</a> – RecliningWorm</li>
        <li><a href="https://www.theguardian.com/technology/2018/feb/27/snow-chaos-apps-trains-roads" target="_blank">The Guardian - The best transport apps to help you find your way through the snow</a> – Trainline App</li>
        <li><a href="https://www.theguardian.com/public-leaders-network/2016/sep/15/top-10-transport-apps-smarter-travel" target="_blank">The Guardian - Top 10 transport apps for smarter travel</a> – Trainline App</li>
        <li>Gizmodo - The Best Transport Apps – Trainline App</li>
        <li>Apple Watch best of 2015 – Trainline</li>
        <li><a href="https://www.telegraph.co.uk/technology/apple/watch/11461621/Apple-Watch-the-best-apps.html" target="_blank">The Telegraph – Apple Watch: the best apps</a> – Trainline App</li>
        <li><a href="https://econsultancy.com/trainline-app/" target="_blank">econsultancy – 9 best things of the Trainline app – Trainline App</a></li>
        <li>Lifehacker – Best Apple Watch Apps: The Top New Apps For Apple's Timepiece – Trainline App</li>
        <li><a href="https://www.digitalspy.com/tech/apple/a643781/the-best-apple-watch-apps-to-make-the-most-of-your-wearable-from-trainline-to-uber/" target="_blank">DigitalSpy – The best Apple Watch apps to make the most of your wearable, from Trainline to Uber – Trainline App</a></li>
        <li><a href="https://www.cityam.com/apple-watch-apps-most-useful-apps-your-commute-work-travel-and-staying-informed/" target="_blank">CityAm – Apple Watch apps: The most useful apps for your commute, work, travel and staying informed – Trainline App</a></li>
        <li>Apple – Best of September 2015 iPad Apps – Trainline App</li>
        <li><a href="https://apps.apple.com/gb/app/trainline-uk/id334235181" target="_blank">Regularly appearing in Best new Apps - Apple App Store</a> – Trainline App</li>
        <li><a href="https://play.google.com/store/apps/details?id=com.thetrainline&hl=en_GB" target="_blank">Number 1 app of Top Apps for Transport on Android Play Store</a> – Trainline App</li>
        <li>European directory of Health Apps - 2015-2016 – OATBook App</li>
        <li><a href="https://www.amazon.co.uk/Principles-Processes-Interactive-Required-Reading/dp/2940496110" target="_blank">Published in 'The Principles and Processes of Interactive Design'</a> - OATBook App</li>
        <li><a href="https://www.telegraph.co.uk/news/health/news/10265382/DIY-blood-test-could-be-a-life-saver.html" target="_blank">The Telegraph - DIY Blood test could be a life saver</a> - OATBook App</li>
        <li>European directory of Health Apps - 2012-2013 – OATBook App</li>
        <li>Silver Winner – Lovie Awards - Utilities and Services – OATBook App</li>
        <li><a href="https://thefwa.com/cases/oatbook" target="_blank">FWA - App of the day</a> – OATBook App</li>
        <li><a href="https://www.awwwards.com/sites/warface" target="_blank">Awwwards - Site of the day</a> – warface.co.uk</li>
        <li><a href="https://www.cssawards.net/website/warface/" target="_blank">CSS Awards - Site of the day</a>  – warface.co.uk</li>
      </ul>
    </div>

    <div class="col-md-4">
    </div>
  </div>

  <div class="row content-block">
    <div class="col-md-12">
      <h2>Still here?</h2>
      <h4>This is probably what I'm listening to right now</h4>
      <div class="responsive-youtube">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/eY1E2jxuYNI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <h4>This is what I'm reading <a href="https://www.goodreads.com/book/show/42774080-the-trust-manifesto" target="_blank">The Trust Manefesto – Damian Bradfield</a></h4>

    </div>
  </div>

</div>


{% include clients.html %}

{% include footer.html %}
