---
title: WARFACE – Product Designer
layout: home
---

{% include hero-home.html %}
<style>
  .sticky {
    position: inherit;
  }
  a.navbar-brand {
    transform: translate(-50px, -36px);
    position: fixed;
    z-index: 1;
  }
  .sheet {
    positiom: relative;
    z-index: 10;
  }
  a {
    font-weight: normal;
  }
  .cs.carousel h2 {
    font-family: 'Cinderblock';
    font-size: 24vw;
    letter-spacing: 0.2vw;
    line-height: 17.4vw;
    margin-top: -24px;
    margin-bottom: 24px;
  }
  footer h2 {
    font-family: 'Cinderblock-50';
    font-size: 32vw;
    line-height: 23.2vw;
    letter-spacing: -1px;
    margin-top: -40px;
    margin-bottom: 40px;
  }
</style>

<div class="sheet">
  {% include project-sheet-carousel.html %}
  {% include blog-posts.html %}
  {% include footer.html %}
</div>
