
<div class="container-fluid blog-posts">
  <div class="row">
    <div class="col">
      <h2>Blog posts</h2>


      <div class="card">
        <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*ChTVd63ZW3C7VtZKRibx1A.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="https://medium.com/@warface/one-love-one-heart-one-library-f9538419a3e7" target="_blank">One love! One heart! One library!</a></h5>
          <p class="card-text">Building a single UI Library across multi-brand and multi-platform with Design Tokens and a better use of Figma component properties.</p>
        </div>
      </div>

      <div class="card">
        <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*s4PHjZzY96F8symPUM4zqA.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="https://medium.com/sainsburys-customer-experience/figma-schema-london-takeaways-d1bd0ad65a32">Figma Schema 2022 London — Takeaways</a></h5>
          <p class="card-text">Last week I was able to attend the Figma Schema Design Systems event. These are my highlights from the key speakers.</p>
        </div>
      </div>

      <div class="card">
        <img src="https://miro.medium.com/v2/resize:fit:720/1*SXCY3j4cRhYw4b-YEFKyuA.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="https://medium.com/@warface/all-in-the-layer-name-d2b25b6e559" target="_blank">All in the (layer) name! Figma tip...</a></h5>
          <p class="card-text">This tip will allow designers to add content (text and images) once and will map to the corresponding layer in the other variants automatically.</p>
        </div>
      </div>

      <div class="card">
        <img src="https://miro.medium.com/v2/resize:fit:720/1*MMZLkbJAOG1dDoDkyD3K2g.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="https://blog.protopie.io/calendar-tutorial-with-fab-burger-menu-and-in-protopie-part-ii-69694d8f507b" target="_blank">Calendar Tutorial with FAB in ProtoPie...</a></h5>
          <p class="card-text">A quick tutorial on how to recreate a calendar app with parallax images in ProtoPie.</p>
        </div>
      </div>

    </div>
  </div>
</div>
