<div class="categories">
  <ul>
    <li><a href="{{ site.baseurl }}/design-strategy">Design Strategy</a></li>
    <li><a href="{{ site.baseurl }}/design-systems">Design System</a></li>
    <li><a href="{{ site.baseurl }}/healthcare-apps">Healthcare Apps</a></li>
    <li><a href="{{ site.baseurl }}/illustration">Illustration</a></li>
    <li><a href="{{ site.baseurl }}/ios-android-app">iOS & Android apps</a></li>
    <li><a href="{{ site.baseurl }}/protoyping">Prototype</a></li>
    <li><a href="{{ site.baseurl }}/service-design">Service Design</a></li>
    <li><a href="{{ site.baseurl }}/side-projects">Side Projects</a></li>
    <li><a href="{{ site.baseurl }}/travel-apps">Travel Apps</a></li>
    <li><a href="{{ site.baseurl }}/ui-design">UI Design</a></li>
    <li><a href="{{ site.baseurl }}/ux-design">UX Design</a></li>
    <li><a href="{{ site.baseurl }}/user-testing">User insights & user testing</a></li>
  </ul>
</div>
