<div class="sticky hero">
  <a class="navbar-brand" href="#"></a>

  <div id="carouselHeroHome" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselHeroHome" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHeroHome" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row color-block">
          <div class="col">
            <div class="center-align">
              <img src="../assets/images/graphics/ProductDesign.svg" class="d-block w-70 poster-text" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row color-block">
          <div class="col">
            <div class="center-align">
              <img src="../assets/images/graphics/DesignSystem.svg" class="d-block w-70 poster-text" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselHeroHome" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselHeroHome" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
