<style>
  .design {
    font-family: 'Cinderblock-100';
    text-transform: uppercase;
    font-size: 54vw;
    line-height: 25.4vw;
    letter-spacing: -0.2vw;
    padding-bottom: 16.2vw;
    text-align: center;
    color: white;
  }
  .systems {
    font-family: 'Cinderblock-100';
    text-transform: uppercase;
    font-size: 42.8vw;
    line-height: 19.8vw;
    letter-spacing: -0.2vw;
    margin-top: -2.4vw;
    padding-bottom: 11vw;
    text-align: center;
    color: white;
  }
  .productDesign {
    font-family: 'Cinderblock-100';
    text-transform: uppercase;
    font-size: 24.6vw;
    line-height: 12vw;
    letter-spacing: -0.2vw;
    padding-bottom: 6.2vw;
    text-align: center;
    color: white;
  }
  .mobileApps {
    font-family: 'Cinderblock-75';
    text-transform: uppercase;
    font-size: 24.7vw;
    line-height: 13vw;
    letter-spacing: -0.2vw;
    padding-bottom: 5vw;
    text-align: center;
    color: white;
  }
</style>
<div class="sticky hero">
  <a class="navbar-brand" href="#"></a>

  <div class="row">
    <div class="col">
      <div class="design">Design</div>
      <div class="systems">Systems</div>
      <div class="productDesign">Product Design</div>
      <div class="mobileApps">Mobile Apps</div>
      <img src="assets/images/graphics/DesignSystems-Cinderblock-100-smile-white.svg" class="hero-display" alt="...">
    </div>
  </div>

</div>
