<style>

  .sticky {
    position: relative;
  }
  .sticky .row {
    padding-top: 12vh;
  }
  .hero {
    height: auto;
  }

  .hero h2 {
    font-size: 29vw;
    line-height: 21.9vw;
    text-align: center;
  }

  .sticky .row {
    padding-top: 0;
  }
  .hero h2 {
    font-family:'Cinderblock';
    font-size: 52vw;
    line-height: 29vw;
    text-align: center;
    letter-spacing: -6px;
  }
  .hero h2 .systems {
    font-size: 40vw;
    line-height: 510px !important;
    /* line-height: 7vw; */
    letter-spacing: -2px;
    color: darkorange;
  }



</style>

<div class="sticky hero">
  <a class="navbar-brand" href="#"></a>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h2>
        <span class="">Design</span>
        <br><span class="systems">systems<br></span>
        <span class="">Product Design</span>
      </h2>
    </div>
    <div class="col-1"></div>
  </div>

</div>
