
<!-- Sainsburys -->
<div id="carouselSainsburys" class="cs carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselSainsburys" data-slide-to="0" class="active"></li>
    <li data-target="#carouselSainsburys" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="slide-1" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo sainsburys"></div>
            <h2><a href="sainsburys-design-system">Multi-brand, Multi-platform Design system</a></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div id="slide-2" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo sainsburys"></div>
            <h2><a href="sainsburys-design-system">Multi-brand, Multi-platform Design system</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselSainsburys" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselSainsburys" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Trainline -->
<div id="carouselTrainline" class="cs carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselTrainline" data-slide-to="0" class="active"></li>
    <li data-target="#carouselTrainline" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="slide-1" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo trainline"></div>
            <h2><a href="trainline-mobile-apps-ux-case-study">The customer champion of train travel</a></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div id="slide-2" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo trainline"></div>
            <h2><a href="trainline-mobile-apps-ux-case-study">The customer champion of train travel</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselTrainline" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselTrainline" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- JustEat -->
<div id="carouselJustEat" class="cs carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselJustEat" data-slide-to="0" class="active"></li>
    <li data-target="#carouselJustEat" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="slide-1" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo justeat"></div>
            <h2><a href="just-eat-restaurant-tools">Restaurant facing tools</a></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div id="slide-2" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo justeat"></div>
            <h2><a href="just-eat-restaurant-tools">Restaurant facing tools</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselJustEat" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselJustEat" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Cookpad -->
<div id="carouselCookpad" class="cs carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselCookpad" data-slide-to="0" class="active"></li>
    <li data-target="#carouselCookpad" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="slide-1" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo cookpad"></div>
            <h2><a href="cookpad-mobile-apps">Make everyday cooking fun</a></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div id="slide-2" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo cookpad"></div>
            <h2><a href="cookpad-mobile-apps">Make everyday cooking fun</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselCookpad" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselCookpad" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- RecliningWorm -->
<div id="carouselRecliningWorm" class="cs carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselRecliningWorm" data-slide-to="0" class="active"></li>
    <li data-target="#carouselRecliningWorm" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="slide-1" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo recliningworm"></div>
            <h2><a href="/reclining-worm">RecliningWorm</a></h2>
            <p>Recipe sharing platform for the home cooking community</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div id="slide-2" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo recliningworm"></div>
            <h2>Test 2</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselRecliningWorm" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselRecliningWorm" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- OATBook -->
<div id="carouselOATBook" class="cs carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselOATBook" data-slide-to="0" class="active"></li>
    <li data-target="#carouselOATBook" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="slide-1" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo OATBook"></div>
            <h2><a href="/oatbook-medical-app">OATBook</a></h2>
            <p>Medical tracker for patients on Warfarin</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div id="slide-2" class="row color-block">
        <div class="col">
          <div class="center-align">
            <h2>Medical tracker for patients on Warfarin</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselOATBook" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselOATBook" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Lloyds Bank -->
<!--
<div id="carousellloydsbank" class="cs carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousellloydsbank" data-slide-to="0" class="active"></li>
    <li data-target="#carousellloydsbank" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="slide-1" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo justeat"></div>
            <h2><a href="#">Open banking</a></h2>
            <p>Recipe sharing platform for the home cooking community</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div id="slide-2" class="row color-block">
        <div class="col">
          <div class="center-align">
            <div class="cs-logo justeat"></div>
            <h2>Test 2</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carousellloydsbank" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousellloydsbank" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
-->
