
<div class="scrollmenu">

  <div class="card trainline">
    <img src="{{ site.baseurl }}/assets/images/projects/trainline/1-CurrentDepartureBoards.png" class="img-fluid card-img-top" style="background: #2dca8a;" alt="Trainline">
    <div class="card-body">
      <span class="trainline-logo"></span>
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/trainline-mobile-apps"></a>
      <h6>The Customer champion for train travel</h6>
      <p class="card-text">One of the biggest go-to train ticket services in UK and Europe. Leading a suite of industry defining mobile UI/UX across their apps.</p>
    </div>
  </div>

  <div class="card science-museum">
    <img src="{{ site.baseurl }}/assets/images/projects/science-museum/science-museum-grid.jpg" class="card-img-top" style="background: #000000;" alt="Science Museum">
    <div class="card-body">
      <span class="sciencemuseum-logo"></span>
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/science-museum-lighting-control-app"></a>
      <h6>Lighting control for branded events</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card oatbook">
    <img src="{{ site.baseurl }}/assets/images/projects/oatbook/BloodTesting.png" class="card-img-top" alt="OATBook">
    <div class="card-body">
      <span class="oatbook-logo"></span>
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/oatbook-medical-app">OATBook</a>
      <h6>Medical tracker app for patients with warfarin</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card reclining-worm">
    <img src="{{ site.baseurl }}/assets/images/projects/recliningworm/wwe-stickers.jpeg" class="card-img-top" alt="Recliningworm">
    <div class="card-body">
      <span class="recliningworm-logo"></span>
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/reclining-worm"></a>
      <h6>90s heroes</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

<!--
  <div class="card just-eat">
    <img src="https://media.giphy.com/media/3OvrejVmXO04XWdxUw/giphy.gif" class="card-img-top" alt="Just Eat">
    <div class="card-body">
      <span class="justeat-logo"></span>
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/just-eat"></a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card artimbarc">
    <img src="{{ site.baseurl }}/assets/images/projects/artimbarc/1-min.jpeg" class="card-img-top" alt="ARTimbarc">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/artimbarc">ARTimbarc</a>
      <h6>Museum audio guides</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card helicon-health">
    <img src="https://images1.the-dots.com/1437434/20170824-113438.jpeg?p=projectImageFullJpg" class="card-img-top" alt="Helicon Health">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/helicon-health-medical-app">Helicon Health</a>
      <h6>Stroke prevention mobile app</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <!--
  <div class="card cookpad">
    <img src="https://media.giphy.com/media/13CHUguYp6mhWw/giphy.gif" class="card-img-top" style="background: #2dca8a;" alt="Cookpad">
    <div class="card-body">
      <span class="cookpad-logo"></span>
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/cookpad"></a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card lloyds">
    <img src="https://media.giphy.com/media/vauaZ0QsPoS0U/giphy.gif" class="card-img-top" alt="Lloyds Bank">
    <div class="card-body">
      <span class="lloyds-logo"></span>
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/lloyds-banking-apps"></a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card tesco">
    <img src="{{ site.baseurl }}/assets/images/projects/tesco/Intro.png" class="card-img-top" alt="Tesco pet tracker app">
    <div class="card-body">
      <span class="tesco-logo"></span>
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/tesco-pet-tracker-app"></a>
      <h6>Bluetooth connected pet coller tracker app</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card fifa">
    <img src="{{ site.baseurl }}/assets/images/projects/fifa/2.png" class="card-img-top" alt="Fifa">
    <div class="card-body">
      <span class="fifa-logo"></span>
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/fifa-world-cup-app"></a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card see-all">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/projects"><i class="fas fa-arrow-right fa-3x"></i></a>
    </div>
  </div>
-->
</div>
