
<div class="scrollmenu">

  <div class="card stockflare">
    <img src="https://media.giphy.com/media/WUMKrzIPp9YzK/giphy.gif" class="img-fluid card-img-top" alt="Stockflare">
    <div class="card-body">
      <a class="stretched-link">Stockflare</a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card helicon-health">
    <img src="https://media.giphy.com/media/vauaZ0QsPoS0U/giphy.gif" class="card-img-top" alt="Helicon Health">
    <div class="card-body">
      <a class="stretched-link">Helicon Health</a>
      <h6>Some quick example text to build on</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card tesco">
    <img src="https://media.giphy.com/media/lo5EgdRso2rxCKMkhI/giphy.gif" class="card-img-top" alt="Tesco Pet Insurance">
    <div class="card-body">
      <a class="stretched-link">Tesco</a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card Trussle">
    <img src="https://media.giphy.com/media/lo5EgdRso2rxCKMkhI/giphy.gif" class="card-img-top" alt="Trussle">
    <div class="card-body">
      <a class="stretched-link">Trussle</a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card home-office">
    <img src="https://media.giphy.com/media/lo5EgdRso2rxCKMkhI/giphy.gif" class="card-img-top" alt="Home Office">
    <div class="card-body">
      <a class="stretched-link">Home Office</a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

</div>
