// Clients

.clients img {
  width: 100%;
}
.clients .col-4 {
  height: 80px;
  width: 160px;
  white-space: nowrap;
  text-align: center; margin: 1em 0;
}
.clients .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.clients img {
    vertical-align: middle;
    max-height: 40px;
    max-width: 160px;
}
.clients {
  .helper {
    opacity: 0.8;
    max-width: 200px;
  }
  .cookpad {
    background: url('../images/logos/cookpad-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 80%;
  }
  .justeat {
    background: url('../images/logos/justeat-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 80%;
  }
  .lloyds {
    background: url('../images/logos/lloyds-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 50%;
  }
  .elsevier {
    background: url('../images/logos/elsevier-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 30%;
  }
  .experian {
    background: url('../images/logos/experian-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 70%;
  }
  .fifa {
    background: url('../images/logos/fifa-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 60%;
  }
  .figma {
    background: url('../images/logos/figma-wordmark-black.svg')center center no-repeat;
    width: 100%;
    background-size: 65%;
  }
  .gov {
    background: url('../images/logos/govuk-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 90%;
  }
  .homebase {
    background: url('../images/logos/homebase-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 80%;
  }
  .publicis {
    background: url('../images/logos/PS-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 64%;
  }
  .rbs {
    background: url('../images/logos/rbs-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 70%;
  }
  .sainsburys {
    background: url('../images/logos/sainsburys-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 78%;
  }
  .tesco {
    background: url('../images/logos/tesco-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 60%;
  }
  .trainline {
    background: url('../images/logos/tl-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 68%;
  }
  .science-museum {
    background: url('../images/logos/sciencemuseum-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 60%;
  }
  .nectar {
    background: url('../images/logos/nectar-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 44%;
  }
  .isobar {
    background: url('../images/logos/isobar-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 68%;
  }
}
