// All colours point to here

$warface-primary: #ffc436;
$base-clay: #F0E8DD;
$clay: #e2dacd;
$dark-clay: #9e9889;
$yellow: #FDB813;
$khaki-green: #325026;
$black: #000000;
$blue: #3a55bf;
$green: #2dca8a;
$cream: #fff0cd;
$red: #ff6161;
$white: white;

$pink-1: pink;
$pink-2: #f34977;

// Client
$trainline-primary: #21304d;
$trainline-secondary: #48D5B5;

$justeat-primary: #F36D00;
$justeat-secondary: #000000;

$oatbook-primary: #000000;
$oatbook-secondary: #000000;

$cookpad-primary: #FF9933;
$cookpad-secondary: white;

$justeat-primary: #F36D00;

.color-block {
  color: white;
  ::selection {
    background: yellow;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}
.color-block.cookpad {
  background: $cookpad-primary;
  color: white;
  h2 a, h2 {
    color: $cookpad-secondary;
  }
  a {
    color: #904545;
  }
  a:hover {
    color: white;
  }
}
.color-block.trainline {
  background: $trainline-secondary;
  color: $trainline-primary;
  h2 a {
    color: $trainline-primary;
  }
  a:hover {
    color: white;
  }
}
.color-block.sciencemuseum {
  background: black;
  color: white;
  h2 a, h4 {
    color: white;
  }
}
.color-block.oatbook {
  background: #ffca4c;
  color: black;
  h2 a, h4, p {
    color: white;
  }
}
.color-block.recliningworm {
  background: $pink-1;
  a {
    color: $pink-1;
  }
  a:hover {
    color: white;
  }
}
.color-block.artimbarc {
  background: #3a55bf;
}
.color-block.justeat {
  background: $justeat-primary;
  h2, h2 a {
    color: white;
  }
}
.color-block.recliningworm {
  background: $pink-1;
  h2 a {
    color: $pink-1;
  }
}
.color-block.lloyds-bank {
  background-color: #006A4D;
  h2 a {
    color: white;
  }
  a {
    color: #8BC0B2;
  }
  a:hover {
    color: white;
  }
}



.trainline {
  html, body {
    background: $trainline-primary;
  }
  h1, h3 {
    color: $trainline-primary;
  }
  h2 {
    color: $trainline-secondary;
  }
  a {
    color: $trainline-primary;
  }
  a:hover {
    color: $trainline-secondary;
  }
}
.oatbook {
}
.lloyds {
}
.reclining-worm {
}
.just-eat {
}
.cookpad {
}
.artimbarc {
}
.science-museum {
}
.walkie-talkies {
  background: green;
}
.primary {
}
.secondary {
}
.tertiary {
}
