// footer

.blog-posts {
  background: #4B6239;
  padding: 2vh;

  .card {
    width: 100%;
    float: left;
    margin-bottom: 12px;
    border: 0px;
    border: 2px;

    img {
      height: 240px;
      object-fit: cover;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
    }
    a {
      color: #ffc436;
      font-size: 40px;
      line-height: 28px;
    }
    a:hover {
      color: black;
    }
  }
}

footer {
  background: #4B6239;
  padding-bottom: 80px;
  width: 100%;
  text-align: center;

  .row {
    width: clamp(16px, 60vw, 980px);
    margin: auto;
  }
  .col {
    max-width: 980px;
    margin: auto;
  }
  h2 {
    font-family: 'Cinderblock-50';
    font-size: 20vw;
    font-size: clamp(16px, 20vw, 328px);
    line-height: clamp(16px, 14.4vw, 232px);
    letter-spacing: -1px;
    margin-top: -16px;
    margin-bottom: 40px;
    text-align: left;

    a {
      font-weight: normal;
    }
  }

  .clients {
    padding: 12px 24px 68px 24px;
  }
  .contact {
    padding-top: 8vh;
    max-width: 76vw;
  }
  a {
    color: #FFC436;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  p {
    font-size: 1rem;
  }
  .list-inline {
    text-align: center;
  }
}
