
{% include header.html %}

<div class="container-fluid hero">
  {% include about.html %}
  {{ content }}
</div>

<div class="container-fluid">
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-8">
      <h2>Awards & mentions</h2>
      <ul>
        <li><a href="https://shop.museumca.org/collections/respect/products/hip-hop-enamel-pins" target="_blank">Oakland Museum of California exhibition RESPECT: Hip Hop Style and Wisdom</a> – RecliningWorm</li>
        <li><a href="https://www.theguardian.com/technology/2018/feb/27/snow-chaos-apps-trains-roads" target="_blank">The Guardian - The best transport apps to help you find your way through the snow</a> – Trainline App</li>
        <li><a href="https://www.theguardian.com/public-leaders-network/2016/sep/15/top-10-transport-apps-smarter-travel" target="_blank">The Guardian - Top 10 transport apps for smarter travel</a> – Trainline App</li>
        <li>Gizmodo - The Best Transport Apps – Trainline App</li>
        <li>Apple Watch best of 2015 – Trainline</li>
        <li><a href="https://www.telegraph.co.uk/technology/apple/watch/11461621/Apple-Watch-the-best-apps.html" target="_blank">The Telegraph – Apple Watch: the best apps</a> – Trainline App</li>
        <li><a href="https://econsultancy.com/trainline-app/" target="_blank">econsultancy – 9 best things of the Trainline app – Trainline App</a></li>
        <li>Lifehacker – Best Apple Watch Apps: The Top New Apps For Apple's Timepiece – Trainline App</li>
        <li><a href="" target="_blank">DigitalSpy – The best Apple Watch apps to make the most of your wearable, from Trainline to Uber – Trainline App</a></li>
        <li><a href="" target="_blank">CityAm – Apple Watch apps: The most useful apps for your commute, work, travel and staying informed – Trainline App</a></li>
        <li><a href="" target="_blank">Apple – Best of September 2015 iPad Apps</a> – Trainline App</li>
        <li><a href="" target="_blank">Regularly appearing in Best new Apps - Apple App Store</a> – Trainline App</li>
        <li><a href="" target="_blank">Number 2 app of Top Apps for Transport on Android Play Store</a> – Trainline App</li>
        <li><a href="" target="_blank">European directory of Health Apps - 2015-2016</a> – OATBook App</li>
        <li><a href="" target="_blank">Published in 'The Principles and Processes of Interactive Design'</a> - OATBook App</li>
        <li><a href="" target="_blank">The Telegraph - DIY Blood test could be a life saver</a> - OATBook App</li>
        <li><a href="" target="_blank">European directory of Health Apps - 2012-2013</a> – OATBook App</li>
        <li><a href="" target="_blank">Silver Winner – Lovie Awards - Utilities and Services</a> – OATBook App</li>
        <li><a href="" target="_blank">FWA - App of the day</a> – OATBook App</li>
        <li><a href="https://www.awwwards.com/sites/warface#comments" target="_blank">Awwwards - Site of the day</a> – warface.co.uk</li>
        <li><a href="" target="_blank">CSS Awards - Site of the day</a>  – warface.co.uk</li>
      </ul>
    </div>
  </div>
</div>

<div class="cards-lg">
  {% include project-cards.html %}
</div>

{% include clients.html %}
{% include footer.html %}
